{
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "trailingComma": "es5",
  "arrowParens": "always",
  "printWidth": 100,
  "plugins": ["prettier-plugin-svelte"],
  "pluginSearchDirs": ["."],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ],
  "singleAttributePerLine": false,
  "svelteAllowShorthand": true,
  "svelteIndentScriptAndStyle": true,
  "htmlWhitespaceSensitivity": "ignore"
}
