$variable-prefix: kds;
$color-normal-index: 500;

// Text size variables.
$text-sizes: (
  small: 12px,
  body: 14px,
  title: 16px,
  subtitle: 13px,
  h1: 32px,
  h2: 24px,
  h3: 16px,
  h4: 13px,
  h5: 12px,
  h6: 13px
);

// Spacing variables.
$named-spaces: (
  tight: 8px,
  small: 12px,
  medium: 24px,
  large: 32px
);
$custom-spaces: (2, 4, 6, 8, 10, 12, 16, 18, 20, 24, 32, 48, 56, 64, 72, 96, 128);

// Border radius variables.
$named-radius: (
  tight: 2px,
  small: 3px,
  medium: 5px,
  large: 10px
);
$custom-radius: $custom-spaces;

$color-swatches: (
  blue: (
    50: #f0f7fe,
    100: #cfe6fc,
    200: #b5d5fc,
    300: #6cacf9,
    400: #2b87f8,
    500: #086ce8,
    600: #0653b2,
    700: #043776,
    800: #032754,
    900: #021c3b
  ),
  green: (
    50: #f2fdf8,
    100: #baf7dd,
    200: #71f4bb,
    300: #0bda80,
    400: #00a85f,
    500: #00854b,
    600: #00663a,
    700: #004d2b,
    800: #003820,
    900: #002916
  ),
  red: (
    50: #fef3f1,
    100: #fcded9,
    200: #f9c5b8,
    300: #f48b71,
    400: #f06542,
    500: #d53811,
    600: #a52c0d,
    700: #7b200a,
    800: #561706,
    900: #390f04
  ),
  orange: (
    50: #fef7f0,
    100: #fddebf,
    200: #fabe80,
    300: #f68c1f,
    400: #dd7409,
    500: #b56007,
    600: #844605,
    700: #623404,
    800: #4a2703,
    900: #311a02
  ),
  grey: (
    10: #fcfcfd,
    50: #edeeef,
    100: #dfe0e5,
    200: #c3c9d5,
    300: #9694b2,
    400: #757489,
    500: #646374,
    600: #545361,
    700: #41404c,
    800: #33323c,
    900: #2b2a33,
    950: #1c1b22,
    1000: #121217
  )
);

$color-states: (
  neutral: (
    color: grey,
    light: (
      fg: 10,
      normal: 800,
      hover: 700,
      active: 900,
      focus: 700,
      disabled: 500
    ),
    dark: (
      fg: 1000,
      normal: 100,
      hover: 10,
      active: 200,
      focus: 10,
      disabled: 800
    )
  ),
  primary: (
    color: blue,
    light: (
      fg: 50,
      normal: 500,
      hover: 400,
      active: 600,
      focus: 400,
      disabled: 100
    ),
    dark: (
      fg: 10,
      normal: 500,
      hover: 600,
      active: 400,
      focus: 400,
      disabled: 800
    )
  ),
  negative: (
    color: orange,
    light: (
      fg: 50,
      normal: 500,
      hover: 400,
      active: 600,
      focus: 400,
      disabled: 100
    ),
    dark: (
      fg: 10,
      normal: 500,
      hover: 600,
      active: 400,
      focus: 400,
      disabled: 800
    )
  ),
  destructive: (
    color: red,
    light: (
      fg: 50,
      normal: 500,
      hover: 400,
      active: 600,
      focus: 400,
      disabled: 100
    ),
    dark: (
      fg: 10,
      normal: 500,
      hover: 600,
      active: 400,
      focus: 400,
      disabled: 800
    )
  ),
  positive: (
    color: green,
    light: (
      fg: 50,
      normal: 500,
      hover: 400,
      active: 600,
      focus: 400,
      disabled: 100
    ),
    dark: (
      fg: 10,
      normal: 500,
      hover: 600,
      active: 400,
      focus: 400,
      disabled: 800
    )
  )
);

$color-variables: (
  'white': (
    light: #fff,
    dark: #000
  ),
  'black': (
    light: #000,
    dark: #fff
  ),
  'background': (
    light: var(--#{$variable-prefix}-color-grey-100),
    dark: var(--#{$variable-prefix}-color-grey-900)
  ),
  'background-alt': (
    light: var(--#{$variable-prefix}-color-grey-20),
    dark: var(--#{$variable-prefix}-color-grey-800)
  ),
  'foreground': (
    light: var(--#{$variable-prefix}-color-grey-1000),
    dark: var(--#{$variable-prefix}-color-grey-10)
  ),
  'foreground-alt': (
    light: var(--#{$variable-prefix}-color-grey-800),
    dark: var(--#{$variable-prefix}-color-grey-20)
  ),
  'input-bg': (
    light: var(--#{$variable-prefix}-color-grey-50),
    dark: var(--#{$variable-prefix}-color-grey-700)
  ),
  'input-line': (
    light: var(--#{$variable-prefix}-color-grey-300),
    dark: var(--#{$variable-prefix}-color-grey-950)
  ),
  'input-line-hover': (
    light: var(--#{$variable-prefix}-color-primary-hover),
    dark: var(--#{$variable-prefix}-color-primary-hover)
  ),
  'input-line-active': (
    light: var(--#{$variable-prefix}-color-primary-active),
    dark: var(--#{$variable-prefix}-color-primary-active)
  ),
  'title': (
    light: var(--#{$variable-prefix}-color-grey-1000),
    dark: var(--#{$variable-prefix}-color-grey-10)
  ),
);

$custom-variables: (
  transition-light: all 0.2s ease-in-out,
  transition-bold: all 0.3s ease-in-out,
  transition-strong: all 0.5s ease-in-out
);
