$variable-prefix: kds;
$color-normal-index: 500;

@import "theme/color";
@import "theme/layout";
@import "theme/typography";

$custom-variables: (
  // Optional Typography.
  font: 'Poppins',
  font-light: 300,
  font-lnormal: 400,
  font-medium: 500,
  font-bold: 600,
  // Transitions.
  effect-fast: .2s,
  effect-medium: .3s,
  effect-slow: .3s,
  effect-light: all var(--#{$variable-prefix}-effect-fast) ease-in-out,
  effect-bold: all var(--#{$variable-prefix}-effect-medium) ease-in-out,
  effect-strong: all var(--#{$variable-prefix}-effect-slow) ease-in-out,
  effect-bounce: cubic-bezier(.47, 1.64, .41, .8)
);
